{% extends 'base.html.twig' %}

{% block title %}Vidéos Youtube Favorites !{% endblock %}

{% block body %}

<div>

{{ form(form) }}

{% for video in videos %}
    <p> {{ video.url }} - {{ video.name }} </p>
{% endfor %}

</div>
{% endblock %}
